html{
  overflow-y:scroll;
}
html,body{
  max-width:800px;
}
#bookshelf{
  width:100%;
}
.book{
  border: 1pt solid gainsboro;
  height:200px;
  width:100%;
  margin-bottom: 2pt;
}
.book:nth-child(even){
  background: #e6e6e6;
}
.book:nth-child(odd){
  background: #f2f2f2;
}
.book-cover{
  display: inline-block;
  vertical-align:middle;
  width:20%;
  max-width:100px;
  height:200px;
}
.book-data{
  display: inline-block;
  overflow: hidden;
  vertical-align:middle;
  width:60%;
  height:200px;
}
.book-actions{
  display: inline-block;
  vertical-align:middle;
  width:20%;
  max-width:200px;
}
.book-summary{
  list-style-type: none;
}
.book-summary > * {
  margin:20px;
}
img {
  vertical-align: middle;
  max-width: 80%;
  max-height: 80%;
  margin:10%;
  border-radius:4px;
}
.book-button-save{
  background-color: #e6ffe6
}
.book-button-edit{
  background-color: #ffffe6;
}
.book-button-delete{
  background-color: #ffe6e6;
}
.book-button-default{
  background-color: #ffffff;
}
.book-button{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height:30px;
  border-radius:4px;
}
.book-button-action{
  width:80%;
  margin:10%; 
}
.book-button:hover{
  cursor:pointer;
  border-color: gray;
}
.book-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
label{
  display:block;
  max-width:100%;
  margin-bottom:5px;
  font-weight:bold;
}
input{
  border-radius:4px;
  border: 0.5px solid gainsboro;
  height:20px;
  padding: 5px 5px 5px 10px;
  width:90%;
  margin-bottom:30px;
}
#year{
  min-width:60px;
  width:10%;
}
#add_book{
  margin-bottom:20px;
}
li:first-of-type{
  font-weight:bold;
}
li:nth-of-type(3):after{
  content: ' ã.';
}
img:before,ul:before{
  content:'';
  height:100%;
  display: inline-block;
  vertical-align: middle;
}